.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}
.dropdown_button {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  min-width: 160px;
}
.dropdown_button:hover,
.dropdown_button:focus {
  background-color: #2980b9;
}
.dropdown_hide {
  display: none;
}
.dropdown_show {
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: left;
  padding: 5px 0px 10px 5px;
}
.dropdown_show_options {
  padding: 2px 0 0 10px;
}
@media (max-width: 767px) {
  .dropdown_button {
    width: 100%;
  }
  .dropdown {
    width: 95%;
  }
  .dropdown_show_options {
    padding: 2px 0 0 10px;
  }
  .dropdown_show {
    width: 100%;
  }
}
